.u-section-1 .u-sheet-1 {
  min-height: 727px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 37px 493px 0 456px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 73px auto 0 188px;
  padding: 49px 86px 49px 84px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -122px auto 0 433px;
  padding: 49px 86px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -122px 239px 0 auto;
  padding: 49px 61px 49px 60px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 19px 238px 0 auto;
  padding: 49px 86px 49px 84px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -122px auto 0 188px;
  padding: 49px 100px 49px 98px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -124px auto 0 434px;
  padding: 49px 84px 49px 83px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 17px auto 60px 433px;
  padding: 49px 93px 49px 91px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 23px;
    margin-right: 393px;
    margin-left: 297px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 82px;
    margin-left: 81px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 314px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 39px;
    margin-left: 562px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 38px;
    margin-left: 562px;
  }

  .u-section-1 .u-btn-5 {
    border-style: none;
    margin-left: 81px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 311px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 283px;
    margin-left: 227px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 86px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -126px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -259px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-right: 188px;
    margin-left: 165px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 176px;
    margin-right: 28px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -420px;
    margin-right: 28px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 187px;
    margin-left: 147px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -282px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1241px;
  }

  .u-section-1 .u-text-1 {
    width: 189px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 860px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -281px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -786px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 379px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -452px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 48px;
    margin-left: auto;
    margin-bottom: 520px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before,
.u-section-1 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5.hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-6,
.u-section-1 .u-btn-6:before,
.u-section-1 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6:hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6.hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-7,
.u-section-1 .u-btn-7:before,
.u-section-1 .u-btn-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7:hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7.hover {
  border-radius: 23px !important;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1) !important;
}